node_modules/
__pycache__/
testfiles/
temp/
source/
package-lock.json
pyfiles/key.json
uuids.json
hashes.json
.DS_Store
myenv/
temp_files
downloaded_files
registry_conf
storage_conf
pyfiles/google.json
dlfiles
file_mappings
storage_node_files
pyfiles/test_set.py
key.json
google.json